<!--
    This file is subject to the terms and conditions defined in
    'LICENSE.txt', which is part of this source code distribution.

    Copyright 2012-2019 Software Assurance Marketplace
-->

<configuration>
	<appender name="logFile" class="com.avi.codedx.CodeDxLogAppender">
		<encoder>
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss: } [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="logFile" />
	</root>
</configuration>
